body 
{
    background-image: url("img/background.jpg");
    background-size: cover;
    font-family: Dosis;
    
}

header
{
    background-color: #fddbab;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    position: relative;
    position: fixed;
    top: 0;
    z-index: 99;
}

.logo img
{
    display: flex;
    padding: 20px;
}

#title h2
{
    color: #ad7e54;
    font-size: 3em;
    padding: 20px 20px 40px 20px;
}

.menu img
{
    width: 20%;
    position: absolute;
    top: 0;
    right: 0;
}

.menu a
{
    text-decoration: none;   
}



nav
{
	/*font-family: roboto;*/
	background-color: #c1272d;
	margin: 0 auto 0 auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items:stretch;
	/*border-radius: 10px;*/
	margin-top: 51%;
	position: fixed;
	top: 0;
	z-index: 0;
	
	
    
}
				
a
{
	text-decoration: none;
	color: white;
	flex:1;
	font-family: Dosis;
	padding:20px 20px 20px 20px;
	text-align: center;
	font-size: 2em;
	border:1px solid black;

}

video
{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0 auto 0 auto;
    justify-content: center;
    border: 2px solid black;
    /*padding-top: 250px;*/
    
}

.images
{
    width: 100%;
    display: flex;
    flex-direction: column;
    /*margin: 0 auto 0 auto;*/
    /*justify-content: center;*/
}

.image
{
    
    padding: 20px;
}



.image img
{
    width: 100%;
    border: 2px solid black;
    
}



.image p
{
    font-size: 1rem;
    padding-top: 15px;
}

.image h2
{
    font-size: 2rem;
    padding-top: 10px;
}

@media screen and (min-width: 700px)
{
    header
    {
        display: flex;
        flex-direction: row;
    }
	nav
	{
	display: flex;
	flex-direction: row;
	margin-top: 16%;
	position: fixed;
	top: 0;
	z-index: 0;
	}
	
	a
	{
	flex: 1;
	border: none;
	font-size: 1rem;
	}
	
	video
    {
        width: 50%;
        display: flex;
        flex-direction: row;
        margin: 0 auto 0 auto;
        justify-content: center;
        margin-top: 23%;
        /*padding-top: 250px;*/
    }
    
    .images
    {
        display: flex;
        width: 100%;
	    flex-direction: row;
	    justify-content: center;
    }
    
    .image img
    {
        flex: 1;
        
        
    }
    
    
}